<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-727490">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-727490">
					</li>
					<li data-slide-to="1" data-target="#carousel-727490">
					</li>
					<li data-slide-to="2" data-target="#carousel-727490">
					</li>
				</ol>
				<div class="carousel-inner">
{#					<div class="item active">#}
{#						<img alt="" src="../../static/bootstrap/img/cinqueterre.jpg" />#}
{#						<div class="carousel-caption">#}
{#							<h4>#}
{#								First Thumbnail label#}
{#							</h4>#}
{#							<p>#}
{#								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.#}
{#							</p>#}
{#						</div>#}
{#					</div>#}
					<div class="item active">
                        <a href="/index">
                            <img alt="" src="../../static/bootstrap/img/tencent_wb.png"  width="1200" height="500" />
                        </a>

						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
                        <a href="/qzone_friend">
						    <img alt="" src="../../static/bootstrap/img/tencent_qzone.png" width="1200" height="500" />
                        </a>
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-727490" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-727490" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>

</body>
</html>